.App {
  text-align: center;
}

/* PRINCESS.JS */

.princessPortrait {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.princessPortraitComponent {
  position: absolute;
  height: 400px;
}

.princessPortraitName {
  margin: 0;
}

/* PRINCESSES.JS */

.princessGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.princessGridCard {
  width: 400px;
}

/* CREATE.JS */

.mappedSkin, .mappedEyes, .mappedLips {
  padding: 5px;
  height: 50px;
  border-radius: 50px;

}

.princessCreation {
  display: flex;
  justify-content: center;
  align-items: bottom;
}
.princessCreationComponent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}