.App {
  text-align: center;
}

body {
margin: 0;
background-color:#0f111b;
background-image: url('https://i.imgur.com/4VitCNT.jpg');
overflow-y: auto;
background-attachment: fixed;
background-size: cover;
height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  font-family: 'Archivo Narrow', sans-serif;
  background-image: url('https://i.imgur.com/4VitCNT.jpg');
  overflow-y: auto;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.homeHeader {
  color: white;
  margin: 250px 0 0 0;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 100px;
}

.loginRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginButton, .registerButton {
  width: 325px;
  border-radius: 50px;
  height: 50px;
  margin: 30px 0 0 0;
  background-color: #99935c;
  border: none;
  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 40px;
  cursor: pointer;
}

.loginForm, .registerForm {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 300px;
  color: white;
}

.input {
  width: 300px;
  height: 30px;
  padding: 10px 0 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #0f111ba2;
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
}

::placeholder {
  color: white;
}

.homeButton {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
  margin: 5px 0 0 0;
}

/* NAV */

.headerLink {
  text-decoration: none;
  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 25px;
  padding: 0 0 0 50px;
  transition: .2s;
}

.headerLink:hover {
  scale: 1.2;
  transition: .2s;
}

.logout {
  text-decoration: none;
  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 25px;
  padding: 0 10px;
}

.navBar {
  height: 40px;
  background-color: #99935c;
  padding: 8px 20px 0 20px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* PRINCESS.JS */

.princessDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 530px;
  padding: 20px;
}

.princessPortrait {
  height: 478px;
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.princessPortraitComponent {
  position: absolute;
  height: 400px;
}

.princessPortraitFrame {
  position: absolute;
  height: 478px;
}

.princessPortraitName {
  margin: 0;
  width: 477px;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 50px;
  color: white;
}

/* PRINCESSES.JS */

.princessGrid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.princessGridCard {
  width: 477px;
}

/* CREATE.JS */
.createHeader {
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 100px;
  color: white;
  margin: 30px 0 0 0;
}
.createPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
}

.selectSkinButton, .skinMap, .eyeColorMap, .selectEyesButton, .eyeMap, .selectLipsButton, .lipColorMap, .lipMap, .hairColorMap, .selectHairsButton, .hairMap, .dressColorMap, .selectDressButton, .dressMap {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
}

.mappedSkin, .mappedEyes, .mappedLips, .mappedHair, .mappedDresses {
  margin: 5px;
  height: 50px;
  border-radius: 50px;
  background-color: #0f111b;
}

.formLabel {
  margin: 10px;
}

.nameDiv {
  display: flex;
  flex-direction: column;
  text-align: left;
}

#name {
  margin: 10px 0;
  height: 40px;
  background-color: #0f111b;
  border: none;
  border-radius: 5px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 25px;
  font-weight: 100;
  color: white;
}

.skinDiv {
  margin: 0 10px 10px 10px;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0 0;
}

.createForm {
  width: 548.55px;
  height: 550.5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 50px 0 0;
  background-color: #0f111ba2;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 100;
  letter-spacing: .5px;
  font-size: 16px;
}

.formLabel {
  text-align: left;
  width: 400px;
}

.princessCreation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;
}
.princessCreationComponent {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.princessCreationFrame {
  position: absolute;
  /* width: 90.5%; */
  height: 590px;
  border-radius: 5px;
}

.addToGallery {
  width: 325px;
  border-radius: 50px;
  height: 50px;
  /* margin: 30px 0 0 0; */
  background-color: #99935c;
  border: none;
  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 40px;
  cursor: pointer;
}

/* PRINCESS INFO */

.princessInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.viewInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.princessInfoPortrait {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 650px;
}

.princessInfoPortraitComponent {
  position: absolute;
  height: 500px;
}

.princessInfoFrameComponent {
  position: absolute;
  height: 590px;
  border-radius: 5px;
}

.princessInfoText {
  width: 590px;
  background-color: #0f111ba2;
  color: white;
  border-radius: 5px;
  /* padding: 20px 0; */
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: 100;
  letter-spacing: .5px;
  font-size: 15px;
}

.princessInfoName {
  margin: 0;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 80px;
  color: white;
}

.princessInfoDescription {
  padding: 0 20px;
  margin: 0 0 20px 0;
}

.buttons {
  margin: 0 0 18px 0;
}

.modificationButton {
  width: 100px;
  border-radius: 50px;
  height: 40px;
  margin: 0px 5px 0 4px;
  background-color: #99935c;
  border: none;
  color: white;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 30px;
  cursor: pointer;
}

/* MEDIA QUERY */

@media screen and (max-width: 1220px) {
  .createHeader {
    font-size: 93px;
    color: white;
    margin: 10px 0 0 0;
  }
  .formContainer {
    margin: 15px;
  }
  .createForm {
    height: 100.5px;
    margin: 0 0 50px 0;
  }

  .princessCreation {
    margin: 270px 0 0 0;
  }
}